table{
    border-radius: 35px;
    border-right:solid black;
    border-bottom: solid black;
}
marquee{
    height: 35px;
    
    font-size: 25px;
    background-color: aqua  ;
    
    
}
input:hover{
    border-radius: 5px;
}
#b1:hover{
    background-color: rgb(169, 169, 232);
    height: 35px;

}
html{
    font-family: 'Caveat', cursive;
/* font-family: 'Oswald', sans-serif; */
}